app.baseURL = 'http://localhost:8080/'
app.appTimezone = 'Europe/Prague'
app.sessionDriver = 'database'
app.sessionCookieName = 'cats_session'
app.sessionExpiration = 7200

database.default.hostname = localhost
database.default.database = adoption_portal
database.default.username = root
database.default.password = 
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306

# Konfigurace uploadů
app.uploadPath = 'uploads'
app.maxFileSize = 2097152

# Konfigurace stránkování
app.itemsPerPage = 12